@model Core.ViewModel.PatientDashboardOpdClinicViewModel;

@{
    ViewData["Title"] = "Opd Clinic";
}

<script type="text/javascript" src="~/js/handlebars/underscore-min.js"></script>
<script type="text/javascript" src="~/js/handlebars/handlebars.min.js"></script>
<script type="text/javascript" src="~/js/navigator/validators.js"></script>
<script type="text/javascript" src="~/js/navigator/navigator.js"></script>
<script type="text/javascript" src="~/js/navigator/navigatorHandlers.js"></script>
<script type="text/javascript" src="~/js/navigator/navigatorModels.js"></script>
<script type="text/javascript" src="~/js/navigator/navigatorTemplates.js"></script>
<script type="text/javascript" src="~/js/navigator/exitHandlers.js"></script>

<script type="text/javascript" src="~/js/patientdashboard-opdclinic-script.js"></script>

<nav class="navbar nav-extended">
    <div class="nav-content" style="border: 1px solid rgba(0,0,0,0.1)">
        <ul class="tabs">
            <li class="tab"><a href="#main" class="active">Main</a></li>
            <li class="tab"><a href="#triage">Triage Info</a></li>
            <li class="tab"><a href="#visits">Visits</a></li>
        </ul>

        <div id="main" class="">
            <h1>TRIAGE HERE</h1>
        </div>

        <div id="triage" class="">
            <h1>TRIAGE HERE</h1>
        </div>

        <div id="visits" class="">
            <h1>VISITS HERE</h1>
        </div>

    </div>

</nav>

