    @{
        ViewData["Title"] = "New Patient";
    }

    <br>
    <h5 style="font-weight: 900;">Patient Informations </h5>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">First Name</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Middle Name</label>
            </div>
             <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Last Name</label>
            </div>
            <div class="input-field col s6">
            <i class="material-icons prefix">event</i>
             <label for="icon_prefix">Date of Birth</label>
              <input type="text" class="datepicker">
            </div>
          </div>
           <div>
        <div class="input-field col s12 m6">
                     <i class="material-icons prefix">language</i>
        <select>
          <option value="" disabled selected>Choose your Citizenship</option>
          <option value="1">Kenyan</option>
          <option value="2">Congolese</option>
          <option value="3">Nigerian</option>
        </select>
        <label>Citizenship</label>
      </div>
                <div class="input-field col s6">
              <i class="material-icons prefix">location_on</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Physical Address</label>
            </div>
                  <div class="input-field col s6">
              <i class="material-icons prefix">phone</i>
              <input id="icon_prefix" type="number" >
              <label for="icon_prefix">Mobile Number</label>
            </div>
                  <div class="input-field col s6">
              <i class="material-icons prefix">mail</i>
              <input id="icon_prefix" type="email" >
              <label for="icon_prefix">Email</label>
            </div>
                
      </div>
            <div class="input-field col s6">
            <i class="material-icons prefix">textsms</i>
              <input id="icon_prefix" type="text" >
              <label for="icon_prefix">Nickname</label>
            </div> 
           <div class="input-field col s12 m6">
                     <i class="material-icons prefix">language</i>
        <select>
          <option value="" disabled selected>Country of Residences </option>
          <option value="1">Kenya</option>
          <option value="2">Tanzania</option>
          <option value="3">Uganda</option>
        </select>
        <label>Country of Residence</label>
      </div>
         <h5  style="font-weight: 900;">Next of Kin Informations </h5>
        <br>
            <div class="input-field col s6">
            <i class="material-icons prefix">textsms</i>
              <input id="icon_prefix" type="text" >
              <label for="icon_prefix">Next of Kin</label>
            </div>
          <div class="input-field col s12 m6">
                     <i class="material-icons prefix">language</i>
        <select>
          <option value="" disabled selected>Relationship</option>
          <option value="1">Father</option>
          <option value="2">Mother</option>
          <option value="3">Brother</option>
        </select>
        <label>Relationship</label>
      </div>
              <div class="input-field col s6">
              <i class="material-icons prefix">location_on</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Physical Address</label>
            </div>
                  <div class="input-field col s6">
              <i class="material-icons prefix">phone</i>
              <input id="icon_prefix" type="number" >
              <label for="icon_prefix">Mobile Number</label>
            </div>
                  <div class="input-field col s12">
              <i class="material-icons prefix">mail</i>
              <input id="icon_prefix" type="email" >
              <label for="icon_prefix">Email</label>
            </div>
        </form>
      </div>